@model SportGround.Web.Models.CalendarModel
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div style="height:80vh;width:100%; margin:0; padding: 0">
    @Html.Raw(Model.Scheduler.Render())
</div>
</body>
</html>
